<div id="page">
	<div id="left-side">
		<div id="logo">
			<img src="../../assets/logo.png" alt="logo do site escrito facility task">
		</div>
		<div id="text-description">
			<p>Bem vindo ao Facility Task, um novo jeito de gerenciar suas micro empresa, tendo acesso a dados rapidamente sobre suas vendas, tudo na palma da sua mão.</p>
		</div>
	</div>
	<div id="right-side">
		<div id="space-forms">
			<div id="choices">
				<div id="left-choice">
					<button class="button-choice">Cadastre-se</button>
				</div>
				<div id="right-choice">
					<button class="button-choice">Entrar</button>
				</div>
			</div>
			<div>

			</div>
		</div>
	</div>
</div >